<?xml version="1.0" encoding="utf-8"?>

<widget
    id="com.barry.psrengine"
    version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>PSR Tutor</name>

    <description>
        Offline Search Engine for the Federal Public Service Rules.
    </description>

    <author
        email="barry@example.com"
        href="https://github.com">
        Barry Dev
    </author>

    <content src="index.html" />

    <access origin="*" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference
        name="Orientation"
        value="portrait" />

    <!-- Android native splash -->
    <preference
        name="SplashScreenBackgroundColor"
        value="#1a1f2c" />

    <preference
        name="AndroidWindowSplashScreenBackground"
        value="#1a1f2c" />

    <preference
        name="AndroidWindowSplashScreenAnimatedIcon"
        value="res/screen/android/splashscreen.xml" />

    <preference
        name="SplashScreenDelay"
        value="0" />

    <preference
        name="AutoHideSplashScreen"
        value="true" />

    <preference
        name="FadeSplashScreen"
        value="false" />

    <!-- Normal application icon -->
    <icon src="icon-512.png" />

    <platform name="android">

        <icon
            src="icon-192.png"
            density="xhdpi" />

        <icon
            src="icon-512.png"
            density="xxxhdpi" />

    </platform>

</widget>
